h2 {
  margin:0px 795px 0px 0px;
  padding:20px 20px 20px 250px;
  background-color:#ffff00;}

.container {
  display: flex;
  align-items: flex-start;}

table {border: 4px solid black;
    margin-bottom: 10px;}
  
  th, td {border: 1px solid black;}
  
  th {width: 40%;}
  
  textarea {width: 90%;}

  footer{
    background-color: gray;
    padding: 0%;
  }

.sidebar {margin: 0%;
  padding:0px 30px 266px 0px;
  background-color:#98fb98;}

.form {margin: 0%;
  padding:20px 30px 5px 30px;
  background-color:#ffefd5;}
  
.button {text-align: right;}

footer{
  margin:0px 795px 0px 0px;
  padding:35px 0px 0px 0px;
  background-color: gray;}